.area{
    height: 100%;
    width: 100%;
    flex-wrap: wrap; 
    display: flex;
}

.list{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
  }
.box{
    flex-direction: row;
    height:fit-content;
    margin: 10px;
}
