<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <span>{{currentStartDay|date :'dd/MM'}} - {{currentEndDay|date :'dd/MM'}}</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>skip_next</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>note_add</mat-icon>
  </button>
</mat-toolbar>
<div class="taskBoard" cdkDropListGroup>
  <div class="week">
    <day-component *ngFor="let day of currentWeek" [currentDate]="day"></day-component>
  </div>
  <div class="misc">
    <misc-component></misc-component>
  </div>
</div>