.example-spacer {
  flex: 1 1 auto;
}
.taskBoard{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows:66% 1fr;
}
  .week{
    display: grid;
    grid-row:1;
    grid-template-columns: auto auto auto auto auto auto auto;
    border:1px solid red;
  }
  .misc{
    grid-row:2;
    border:1px solid green;    
    width:100%;
  }
  
